// @import './variables';

@function PX2REM($font : 0) {
    @return #{(calc($font / 16))}rem;
}
@function REM2PX($font: 0) {
    @return #{(calc($font * 16))}px;
}

//usage : for px to rem
	//@include fs(32); for 32px font size

@mixin fs($sizeValue) {
	// font-size: ($sizeValue) + px;
	font-size: calc($sizeValue/16) + rem;
}


//usage: @iclude holder(300, 150);
// @mixin holder($width, $height){
// 	padding-top: ($height/$width)*100%;
// 	position: relative;
// }

//usage: /** For Media query shortcut **/
// @include mediaMax(320px) {
// 	background: red;
// }
@mixin mediaMax($width) {
	@media only screen and (max-width: $width) {
			@content;
	}
}
@mixin mediaMin($width) {
	@media only screen and (min-width: $width) {
			@content;
	}
}
@mixin mediaMinMax($width1, $width2) {
	@media only screen and (min-width: $width1) and (max-width: $width2) {
			@content;
	}
}

//usage: /** For placeholder webkit **/
// input, textarea {  
	//   @include input-placeholder {
	//     color: #fff; 
	//     opacity:1;
	//   }
// }
@mixin input-placeholder {
	&.placeholder {
			@content;
	}
	&:-moz-placeholder {
			@content;
	}
	&::-moz-placeholder {
			@content;
	}
	&:-ms-input-placeholder {
			@content;
	}
	&::-webkit-input-placeholder {
			@content;
	}
}

//usage:  /** For ::before and ::after **/
// div{
// &::before{
// 	@include pseudo(); or
// 	@include pseudo($content:"sdf");
// }
// }
@mixin pseudo($display: block, $pos: absolute, $content: '') {
	content: $content;
	display: $display;
	position: $pos;
}

